In [1]:
from statistics import mean, median, stdev
from pandas import read_csv
df = read_csv("GOenrich_db/lizzy_recent_WGD.csv", sep='\t')
df.head()

   Group    Gene 1    Gene 2      Ks
0   1001   20800.1  343570.2  0.2228
1   1003   20830.1  343590.1  0.2293
2   1008   20920.3  252040.1  0.2806
3   1009   20940.1  252050.1  0.2236
4    101  185790.1  183280.1  0.2670